name: Build wheels

on:
  release:
    types: [created]
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Python wheels manylinux build
      uses: RalfG/python-wheels-manylinux-build@v0.2-dev10-manylinux2014_x86_64
      with:
        # Python versions to target, space-separated
        python-versions: 'cp38-cp38'
        build-requirements: 'cython'
