name: Build wheels

on:
  release:
    types: [created]
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Python wheels manylinux build
      uses: dries007/python-wheels-manylinux-build@163e79a

      with:
        # Python versions to target, space-separated
        python-versions: 'cp38-cp38'
        build-requirements: 'cython'
        system-requirements: 'cmake28'
