name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Python wheels manylinux build
      uses: RalfG/python-wheels-manylinux-build@v0.1.0.a2
      with:
        # Python versions to target, space-separated
        python-versions: 'cp36-cp36m cp37-cp37m cp38-cp38'
